footer {
  margin-top: 2rem;
  padding: 3rem 0;
  background-color: var(--primary-color-very-dark);
  color: var(--light-gray);
}

footer > .container {
  display: flex;
  justify-content: space-between;
}

footer .copyright {
  font-size: 0.75rem;
}
