header {
  padding: 1rem 0 2rem;
  background: var(--primary-color-very-dark);
  color: var(--light-gray);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav__link {
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  text-decoration: none;
  color: inherit;
  padding-bottom: 0.25em;

  &:hover {
    border-bottom: 1px solid var(--accent-color);
  }
}

.logo {
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
}

.nav__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dark-mode-toggle {
  display: block;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    max-height: 24px;
    max-width: 24px;
  }

  transition: tranform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
