header {
  padding: 1rem 0 2rem;
  background: linear-gradient(to right, #fafafa, #ececec);
}

header.sticky {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 2;
  box-shadow: 0 4px 8px -8px gray;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: inherit;

  &:hover {
    border-bottom: 1px solid var(--primary-color-light);
  }
}

.logo {
  font-size: 1.5rem;
  color: var(--primary-color-dark);
}
