.project-card {
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
  overflow: hidden;
  max-width: 360px;
  position: relative;
  transition: all 0.3s ease;

  .project-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .project-screenshot img {
    max-height: 12rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .content {
    padding: 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.project-card:hover {
  box-shadow: var(--card-box-shadow-hover);
  transform: translateY(-2%);
}

.project-card:active {
  box-shadow: var(--card-box-shadow-active);
}

#portfolio .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 1rem;
}

body.dark {
  .project-card {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--card-box-shadow-light);
  }

  .project-card:hover {
    box-shadow: var(--card-box-shadow-hover-light);
  }

  .project-card:active {
    box-shadow: var(--card-box-shadow-active-light);
  }
}
