*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Outfit", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: hsl(240, 100%, 50%);
  --primary-color-light: hsl(240, 100%, 75%);
  --primary-color-dark: hsl(240, 100%, 25%);

  --border-radius: 0.75rem;
  --border-color: #cccccc;
  --card-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --card-box-shadow-hover: rgba(99, 99, 99, 0.2) 2px 6px 8px 0px;
  --card-box-shadow-active: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

section {
  padding: clamp(2rem, 1.5801rem + 1.7917vw, 3rem) 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}
