*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Outfit", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: hsl(240, 89%, 47%);
  --primary-color-light: hsl(240, 89%, 75%);
  --primary-color-very-light: hsl(240, 89%, 95%);
  --primary-color-dark: hsl(240, 89%, 25%);
  --primary-color-very-dark: hsl(240, 89%, 15%);

  --accent-color: hsl(332, 100%, 35%);
  --accent-color-dark: hsl(332, 100%, 30%);

  --light-gray: hsl(0, 0%, 98%);
  --medium-light-gray: hsl(0, 0%, 85%);
  --medium-gray: hsl(0, 0%, 71%);

  --white: #fff;
  --red: #ff0000;
  --yellow: #feff00;

  --light-bg-color: var(--light-gray);
  --light-bg-linear-gradient: linear-gradient(
    to right,
    var(--light-bg-color),
    #ececec
  );

  --dark-bg-linear-gradient: linear-gradient(
    to bottom,
    var(--primary-color-dark),
    var(--primary-color) 50%,
    var(--primary-color-dark)
  );

  --border-radius: 0.75rem;
  --border-color: #cccccc;

  --card-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --card-box-shadow-hover: rgba(99, 99, 99, 0.2) 2px 6px 8px 0px;
  --card-box-shadow-active: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;

  --card-box-shadow-light: rgba(156, 156, 156, 0.2) 0px 2px 8px 0px;
  --card-box-shadow-hover-light: rgba(156, 156, 156, 0.2) 2px 6px 8px 0px;
  --card-box-shadow-active-light: rgba(156, 156, 156, 0.2) 0px 0px 8px 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--light-gray);
  font-size: 1.25rem;
}

body.dark {
  background-color: var(--primary-color-dark);
  color: var(--light-gray);
  h2 {
    color: var(--light-gray);
  }
}

h2 {
  font-size: 2rem;
  color: var(--primary-color-dark);
}

img {
  max-width: 100%;
}

section {
  padding: clamp(2rem, 1.5801rem + 1.7917vw, 3rem) 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}
